/* -------------- Desktop Screens -------------- */
@media screen
and (min-width: 1000px)
and (max-width: 1280px) {
    /*-------------------- Header ----------------------*/
    header {
        padding: 0.875rem 1.875rem;
    }
    header #menu-links {
        display: none;
    }
    header #top-icon-menu {
        display: none;
    }
    /*-------------------------------------------------*/
    .backstage,
    .pets,
    .pick-and-feed,
    .testimonials,
    footer .container {
        padding: 0 1.875rem;
    }
    /*------------ Backstage block ---------------*/
    .backstage-content > img {
        max-width: calc(100%/2 - 2em);
    }
    .backstage-content {
        gap: 2em;
    }
    .backstage-text {
        max-width: 35%;
    }
    /*-------------------------------------------------*/
    /*-------------- Pets block ---------------*/
    .card-grid {
        row-gap: 5.750em;
        column-gap: 1em;
    }
    .card {
        max-width: calc((100vw/3) - 1.25em*2);

    }
    .arrow_elips:nth-child(1) {
        margin-left: calc(100%/2 - 10em);
    }
    .arrow_elips {
        margin-right: calc(100%/2 - 10em);
    }
    /*--------------------------------------------*/
    /*------------ Footer block ---------------*/
    footer #sm-social-media{
        display: none;
    }
    footer .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /*--------------------------------------------*/

}