/* -------------- Tablet Landscape Screens -------------- */
/* === Main Page === */
@media screen
    and (min-width: 640px)
    and (max-width: 1000px) {
        /* ----------- Body page style ------------ */
        header {
            padding: 0.875rem 1.875rem;
        }
        header #menu-links {
            display: none;
        }
        header #top-icon-menu {
            display: none;
        }
        /*--------------------------------------------*/
        /*------------ Banner block ---------------*/
        .banner-content {
            margin-top: 2.625em;
        }
        .banner > img {
            max-width: 100%;
            height: 36.500em;
            top: 0;
        }
        .banner-content::after {
            position: absolute;
            top: -2.25em;
            right: 7.75em;
            width: 23em;
            height: 23em;

        }
        h2.banner-title {
            font-size: 5.125em;
        }
        /*--------------------------------------------*/
        .backstage .container,
        .pets .container,
        .testimonials .container,
        footer .container {
            padding: 0 1.875rem;
        }
        /*------------ Backstage block ---------------*/
        .backstage.block {
            margin-top: 100px;
        }
        .backstage-content > img {
            max-width: calc(100%/2 - 0.938em);
        }
        .backstage-content {
            gap: 1.875em;
        }
        .backstage-decoration {
           transform: translate(150%);
        }
        .backstage-text {
            max-width: 50%;
        }
        /*--------------------------------------------*/
        /*-------------- Pets block ---------------*/
        div.pets.block {
            margin-bottom: 0;
        }
        .card-grid {
            row-gap: 5.750em;
            column-gap: 1em;
        }
        .card {
            max-width: calc((100vw/3) - 1.25em*2);

        }
        .arrow_elips:nth-child(1) {
            margin-left: calc(100%/2 - 8em);
        }
        .arrow_elips {
            margin-right: calc(100%/2 - 8em);
        }
        .pets-decoration.right {
            max-width: 11.250em;
            max-height: auto;
            position: relative;
            align-self: flex-end;
            margin-top: -10em;
        }
        .pets-decoration.left {
            position: relative;
            max-height: 12.5em;
            align-self: flex-start;
            margin-top: -60px;
        }
        /*--------------------------------------------*/
        /*------------ Pick-and-Feed Block -----------*/
        .pick-and-feed.block {
            padding: 1.875em 1.875rem 3.125em;
        }
        .pick-and-feed .container {
            padding: 30px 30px 50px;
        }
        .how-it-works .wrapper {
            padding: 0;
            justify-content: center;
        }
        .arrow-right {
            margin-left: 1.875em;
            margin-right: 1.875em;
        }
        /*--------------------------------------------*/
        /* --- Testimonials block --- */
        .text-block-wrapper {
            overflow-y: hidden;
            padding: 4px;
        }
        .text-block-wrapper::-webkit-scrollbar {
            display: none;
          }
         .text-block {
            column-gap: 1.875em;
         }
        .text-block-box {
            min-width: calc(100%/3 - 0.65em*2);
        }
        .testimonials input[type=range] {
            max-width: 390px;
        }
        /*------------ Footer block ---------------*/
        footer .container {
            padding-top: 40px;
            padding-bottom: 50px;
        }
        footer #sm-social-media{
            display: none;
        }
        footer .input-wrapper {
            margin-top: 0;
        }
        footer input[type=email] {
            margin-top: 15px;
        }
        /*--------------------------------------------*/
}