
/*------------------ Body ---------------------*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

body {
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);
    line-height: 140%;
    background-color:  #FFFFFF;
    color: var(--color-text);
    scroll-behavior: smooth;
}

.container {
    max-width: var(--layout-guides);
    margin: 0 auto;
}

main {
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
}
/*-------------------------------------------------*/