/*------------------ Components ----------------------*/
/* === Buttons === */
.btn {
    width: 300px;
    height: 54px;
    padding: 5px 16px;
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--orange-btn);
    color: var(--white);
}

button.rounded {
    border-radius: 25px;
}

button.square {
    border-radius: 5px;
}

.btn:hover {
    background: #E47209;
}

.btn:active {
    background-color: var(--green);
}

.btn:disabled {
    background-color: var(--gray);
}

/* === Arrows === */
.arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow_elips {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: no-repeat center/35% url(../../assets/icons/arrow_right.svg) var(--orange);
    margin-right: 1180px;
    transition: 0.2s;
}

.arrow_elips:nth-child(1) {
    transform: rotate(180deg);
    margin-left: 1180px;
}

.arrow_elips:hover {
    background-color: #E47209;
}

.arrow_elips:active {
    background-color: var(--green);
}
/*-------------------------------------------------*/
/* === Input <range> === */
input {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  }

  input[type=range] {
    height: 12px;
    -webkit-appearance: none;
    padding: 0 1px;
    width: 600px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 600px;
    height: 8px;
    cursor: pointer;
    transition: 0.2s;
    background: #F5F7F6;
    border-radius: 5px;
  }

  input[type=range]::-webkit-slider-thumb {
    height: 6px;
    width: 115px;
    border-radius: 5px;
    background: #FE9013;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0.5px;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F5F7F6;
  }

  input[type=range]:focus::-webkit-slider-thumb {
    background: #E47209;
  }
/* ---------------------------------------------- */