/*-------------------------------------------------
    [Donate Page Stylesheet]

    Project:    Online-Zoo Web Project
    Version:    1.0.0
    Challenge:  RS School
    Coded:      Ievgeniia Abdulina
    Date:       05-11-2022
-------------------------------------------------*/
/*-------------------------------------------------
    ==== File Structure  ====
        * Main Stylesheet
        * Banner block
        * Donation Information block
            - Feed Count
            - Feed Range
            - Feed Range Values
            - Another Amount
            - Monthly / Once
-------------------------------------------------*/

/*-------------------------------------------------*/
/* Main Stylesheet + Header / Footer  */
@import url(../main/style.css);

body {
    color: #333B41;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Banner block */
.banner-block {
    width: 100%;
    height: 390px;
    background-image: url(../../assets/images/giant-panda.png);
    background-size: cover;
    background-position: center;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Donation Information block */
.feed {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: var(--orange_gradient);

}

.feed .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-text {
    margin-bottom: 60px;
}

.feed-text h3:nth-child(1) {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.feed-text p {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.feed-text h3:nth-child(3) {
    margin-top: 40px;
    color: #FE9013;
}

.feed-donation-info {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    padding: 40px 90px 60px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-donation-info h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FE9013;
}

.feed-donation-info .subtitle {
    align-self: flex-start;
    color: #333B41;
}

.feed button[type=button] {
    border: none;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Feed Count */
.feed-count-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.feed-count-content {
    padding-top: 60px;
}

.feed-count-content div:nth-child(1) {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.feed-count-content p:nth-child(2) {
    text-align: center;
    color: #333B41;
}

.ic-wrap {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-right: 64px;
}

img.animals-widget {
    width: 284px;
    height: 100%;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Feed Range */
.feed-range-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.feed-range-container p:nth-child(1) {
    color: #000000;
}

.feed-range {
    width: 976px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #404950;
}

.feed-range-line {
    width: 915px;
    height: 2px;
    background: #72828E;
}

.feed-range-dott-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.feed-range-dott-container {
    width: 950px;
    height: 20px;
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yellow-dott {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FFEE2E;
}

.feed-range-dott {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-dott {
    background: center / contain no-repeat url(../../assets/icons/roller_icon.svg);
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Feed Range Values */
.feed-range-values {
    width: 98%;
    height: 36px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-value {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70px;
}

.range-value img {
    width: 10px;
    height: 20px;
    margin-right: 2px;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Another Amount */
.another-amount {
    position: relative;
    width: 268px;
    height: 54px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.another-amount form {
    width: 100%;
    height: 100%;
}

input[type=text].another-amount-input {
    width: 100%;
    height: 100%;
    appearance: none;
    padding: 16px 10px;
    margin: 0;
    border: 1px solid #929699;
    border-radius: 2px;
    background: transparent;
    color: #929699;
}

input[type=text].another-amount-input:hover,
input[type=text].another-amount-input:focus  {
    outline: none;
    border: 1px solid #4B9200;
    border-radius: 2px;
}

.dollar-ic {
    width: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Monthly / Once */
.monthly-once {
    width: 212px;
    height: 22px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=radio] {
    margin-right: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;

    appearance: none;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    background: transparent
}

input[type=radio]:hover {
    border: 1px solid #4B9200;
}

input[type=radio]:checked {
    background: #4B9200;
    border: 1px solid #4B9200;
}

.payment {
    width: 84px;
    height: 22px;
    display: flex;
    align-items: center;
}

.share {
    margin-top: 30px;
    color: #333B41;
}
/*-------------------------------------------------*/