/*-------------------------------------------------
    [Donate Page Stylesheet]

    Project:    Online-Zoo Web Project
    Version:    1.0.0
    Challenge:  RS School
    Coded:      Ievgeniia Abdulina
    Date:       05-11-2022
-------------------------------------------------*/
/*-------------------------------------------------
    ==== File Structure  ====
         * Variables
        * Body
        * Typography
        * Components Buttons
        * Header
        * Footer
        * Banner block
        * Donation Information block
            - Feed Count
            - Feed Range
            - Feed Range Values
            - Another Amount
            - Monthly / Once
-------------------------------------------------*/

/*-------------------------------------------------*/
/* Main Stylesheet + Header / Footer  */
/* @import url(../main/style.css); */
@import url(../../assets/styles/variables.css);
@import url(../../assets/styles/body.css);
@import url(../../assets/styles/typography.css);
@import url(../../assets/styles/components.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);

/*------------------------------------------
  [Responsive Grid Media Queries - 1600, 1280, 1000, 640, 320]
        1600-1280   - Non-Retina Screens
        1280-1000   - desktop (default grid)
        1000-640    - tablet landscape
        640-320     - tablet
        320-less    - phone landscape & smaller
--------------------------------------------*/

@import url(../../assets/styles/media/non-retina-screens.css);
@import url(../../assets/styles/media/desktop.css);
@import url(../../assets/styles/media/tablet-landscape.css);
@import url(../../assets/styles/media/tablet.css);
@import url(../../assets/styles/media/phone.css);

body {
    color: #333B41;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Banner block */
.banner-block {
    width: 100%;
    height: 390px;
    background-image: url(../../assets/images/giant-panda.png);
    background-size: cover;
    background-position: center;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Donation Information block */
.feed {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background: var(--orange_gradient);

}

.feed .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-text {
    margin-bottom: 60px;
}

.feed-text h3:nth-child(1) {
    margin-bottom: 10px;
    color: #FFFFFF;
}

.feed-text p {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.feed-text h3:nth-child(3) {
    margin-top: 40px;
    color: #FE9013;
}

.feed-donation-info {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    padding: 40px 90px 60px;
    margin-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-donation-info h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #FE9013;
}

.feed-donation-info .subtitle {
    align-self: flex-start;
    color: #333B41;
}

.feed button[type=button] {
    border: none;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Feed Count */
.feed-count-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.feed-count-content {
    padding-top: 60px;
}

.feed-count-content div:nth-child(1) {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.feed-count-content p:nth-child(2) {
    text-align: center;
    color: #333B41;
}

.ic-wrap {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    margin-right: 64px;
}

img.animals-widget {
    width: 284px;
    height: 100%;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Feed Range */
.feed-range-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.feed-range-container p:nth-child(1) {
    color: #000000;
}

.feed-range {
    width: 976px;
    height: 27px;
    margin-top: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #404950;
}

.feed-range-line {
    width: 915px;
    height: 2px;
    background: #72828E;
}

.feed-range-dot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-control {
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
    color: #333B41;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 72px;
    cursor: pointer;
}

.range-control:focus-within {
    color: var(--orange);
}

.feed-range-dot {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

ul.feed-range-dot-container {
    width: 950px;
    height: 20px;
    list-style: none;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    place-content: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=radio][name=range] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background: transparent;
    font: inherit;
    color: currentColor;
    cursor: pointer;
}

input[type=radio][name=range]::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #FFEE2E;
}

input[name=range][name=range]::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: scale(0);
    border: 2px solid var(--orange);
    outline: 2px solid var(--orange);
    outline-offset: 10px;
    transition: 120ms transform ease-in-out;
}

.range-dollar-ic {
    width: 10px;
    height: 20px;
    margin-right: 2px;
    margin-bottom: 2px;
    background: center / contain no-repeat url(../../assets/icons/dollar-ic.svg);
}

.range-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=radio][name=range]:checked::before {
    transform: scale(1);
}

input[type="radio"][name=range]:checked + label {
    color: var(--orange);
}

input[type="radio"][name=range]:checked + label div:nth-child(1) {
    background: center / contain no-repeat url(../../assets/icons/dollar-ic-orange.svg);
}

input[type=radio][name=range]:hover::after{
    background: var(--orange);
}

input[type="radio"][name=range]:hover + label {
    color: var(--orange);
}

input[type="radio"][name=range]:hover + label div:nth-child(1) {
    background: center / contain no-repeat url(../../assets/icons/dollar-ic-orange.svg);
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Another Amount */
.another-amount {
    position: relative;
    width: 268px;
    height: 54px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.another-amount form {
    width: 100%;
    height: 100%;
}

input[type=number].another-amount-input {
    width: 100%;
    height: 100%;
    padding: 16px 10px;
    margin: 0;
    border: 1px solid #929699;
    border-radius: 2px;
    background: transparent;
    color: #929699;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number].another-amount-input:hover,
input[type=number].another-amount-input:focus  {
    outline: none;
    border: 1px solid #4B9200;
    border-radius: 2px;
}

.dollar-ic {
    width: 10px;
    height: 20px;
    position: absolute;
    right: 10px;
}
/*-------------------------------------------------*/

/*-------------------------------------------------*/
/* Monthly / Once */
.monthly-once {
    width: 212px;
    height: 22px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=radio][name=payment] {
    margin-right: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    background: transparent
}

input[type=radio][name=payment]:hover {
    border: 1px solid #4B9200;
}

input[type=radio][name=payment]:checked {
    background: #4B9200;
    border: 1px solid #4B9200;
}

.payment {
    width: 84px;
    height: 22px;
    display: flex;
    align-items: center;
}

.share {
    margin-top: 30px;
    color: #333B41;
}
/*-------------------------------------------------*/